*
{
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: sans-serif;
	display: grid;
	grid: 100% / 100%;
	inline-size: 100%;
	block-size: 100vh;
	overflow: hidden;
}

:root
{
	--dark-fg: #eee;
	--dark-bg: #333;

	--light-fg: #333;
	--light-bg: #eee;
}

@media (prefers-color-scheme: light)
{
	:root
	{
		--fg: var(--light-fg);
		--bg: var(--light-fg);
	}
}

@media (prefers-color-scheme: dark) 
{
	:root
	{
		--fg: var(--dark-fg);
		--bg: var(--dark-fg);
	}
}

:root:has(head > meta[name="color-scheme"][content="dark"])
{
	--fg: var(--dark-fg);
	--bg: var(--dark-bg);
}

:root:has(head > meta[name="color-scheme"][content="light"])
{
	--fg: var(--light-fg);
	--bg: var(--light-bg);
}

body
{
	color: var(--fg);
	background-color: var(--bg);
}

a
{
	color: cornflowerblue;
}

nav
{
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	gap: 1em;

	&.horizontal {
		grid-auto-flow: row;
	}
	
	& > a[aria-current="page"]
	{
		color: var(--fg);
		font-weight: 900;
		text-decoration: none;
	}
}




body 
{
	display: grid;
	grid: 100% / auto 1fr;

	& > nav
	{
		grid-auto-flow: row;
		place-content: start;
	}

	& > main 
	{
		padding: 1em;
	}

	main
	{
		&.invoices
		{
			display: grid;
			grid: 100% / auto 1fr;

			& > :is(nav, .invoice)
			{
				border: 1px solid var(--fg);
				padding: 1em;
			}
		}
	}
}